.env
phpinfo.php
.env
composer.lock
vendor/aws/aws-sdk-php/composer.json
vendor/aws/aws-sdk-php/src/AccessAnalyzer/AccessAnalyzerClient.php
vendor/aws/aws-sdk-php/src/Api/Service.php
vendor/aws/aws-sdk-php/src/Api/SupportedProtocols.php
vendor/aws/aws-sdk-php/src/ApplicationSignals/ApplicationSignalsClient.php
vendor/aws/aws-sdk-php/src/Auth/AuthSchemeResolver.php
vendor/aws/aws-sdk-php/src/Batch/BatchClient.php
vendor/aws/aws-sdk-php/src/Bedrock/BedrockClient.php
vendor/aws/aws-sdk-php/src/BedrockAgentRuntime/BedrockAgentRuntimeClient.php
vendor/aws/aws-sdk-php/src/BedrockDataAutomation/BedrockDataAutomationClient.php
vendor/aws/aws-sdk-php/src/BedrockDataAutomationRuntime/BedrockDataAutomationRuntimeClient.php
vendor/aws/aws-sdk-php/src/Chime/ChimeClient.php
vendor/aws/aws-sdk-php/src/CleanRooms/CleanRoomsClient.php
vendor/aws/aws-sdk-php/src/ClientSideMonitoring/ConfigurationProvider.php
vendor/aws/aws-sdk-php/src/CloudFormation/CloudFormationClient.php
vendor/aws/aws-sdk-php/src/CloudTrail/CloudTrailClient.php
vendor/aws/aws-sdk-php/src/CloudWatchRUM/CloudWatchRUMClient.php
vendor/aws/aws-sdk-php/src/Connect/ConnectClient.php
vendor/aws/aws-sdk-php/src/ConnectCases/ConnectCasesClient.php
vendor/aws/aws-sdk-php/src/Credentials/CredentialProvider.php
vendor/aws/aws-sdk-php/src/data/accessanalyzer/2019-11-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/acm-pca/2017-08-22/api-2.json.php
vendor/aws/aws-sdk-php/src/data/acm-pca/2017-08-22/waiters-2.json.php
vendor/aws/aws-sdk-php/src/data/amp/2020-08-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/amplify/2017-07-25/api-2.json.php
vendor/aws/aws-sdk-php/src/data/apigatewayv2/2018-11-29/api-2.json.php
vendor/aws/aws-sdk-php/src/data/apigatewayv2/2018-11-29/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/application-signals/2024-04-15/api-2.json.php
vendor/aws/aws-sdk-php/src/data/application-signals/2024-04-15/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/appstream/2016-12-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/appsync/2017-07-25/api-2.json.php
vendor/aws/aws-sdk-php/src/data/b2bi/2022-06-23/api-2.json.php
vendor/aws/aws-sdk-php/src/data/batch/2016-08-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/batch/2016-08-10/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/bcm-pricing-calculator/2024-06-19/api-2.json.php
vendor/aws/aws-sdk-php/src/data/bedrock-agent-runtime/2023-07-26/api-2.json.php
vendor/aws/aws-sdk-php/src/data/bedrock-agent-runtime/2023-07-26/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/bedrock-agent/2023-06-05/api-2.json.php
vendor/aws/aws-sdk-php/src/data/bedrock-data-automation-runtime/2024-06-13/api-2.json.php
vendor/aws/aws-sdk-php/src/data/bedrock-data-automation/2023-07-26/api-2.json.php
vendor/aws/aws-sdk-php/src/data/bedrock-runtime/2023-09-30/api-2.json.php
vendor/aws/aws-sdk-php/src/data/bedrock/2023-04-20/api-2.json.php
vendor/aws/aws-sdk-php/src/data/ce/2017-10-25/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/chime/2018-05-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/chime/2018-05-01/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/chime/2018-05-01/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/cleanrooms/2022-02-17/api-2.json.php
vendor/aws/aws-sdk-php/src/data/cleanrooms/2022-02-17/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/cloudformation/2010-05-15/api-2.json.php
vendor/aws/aws-sdk-php/src/data/cloudformation/2010-05-15/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/cloudformation/2010-05-15/waiters-2.json.php
vendor/aws/aws-sdk-php/src/data/cloudtrail/2013-11-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/codebuild/2016-10-06/api-2.json.php
vendor/aws/aws-sdk-php/src/data/codepipeline/2015-07-09/api-2.json.php
vendor/aws/aws-sdk-php/src/data/cognito-idp/2016-04-18/api-2.json.php
vendor/aws/aws-sdk-php/src/data/connect/2017-08-08/api-2.json.php
vendor/aws/aws-sdk-php/src/data/connectcases/2022-10-03/api-2.json.php
vendor/aws/aws-sdk-php/src/data/connectcases/2022-10-03/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/cost-optimization-hub/2022-07-26/api-2.json.php
vendor/aws/aws-sdk-php/src/data/datasync/2018-11-09/api-2.json.php
vendor/aws/aws-sdk-php/src/data/datazone/2018-05-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/deadline/2023-10-12/api-2.json.php
vendor/aws/aws-sdk-php/src/data/deadline/2023-10-12/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/deadline/2023-10-12/waiters-2.json.php
vendor/aws/aws-sdk-php/src/data/devicefarm/2015-06-23/api-2.json.php
vendor/aws/aws-sdk-php/src/data/dms/2016-01-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/dynamodb/2011-12-05/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/dynamodb/2012-08-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/dynamodb/2012-08-10/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/ec2/2016-11-15/api-2.json.php
vendor/aws/aws-sdk-php/src/data/ecr/2015-09-21/api-2.json.php
vendor/aws/aws-sdk-php/src/data/eks/2017-11-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/elasticloadbalancingv2/2015-12-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/emr-containers/2020-10-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/endpoints.json.php
vendor/aws/aws-sdk-php/src/data/firehose/2015-08-04/api-2.json.php
vendor/aws/aws-sdk-php/src/data/fis/2020-12-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/fis/2020-12-01/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/fsx/2018-03-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/gameliftstreams/2018-05-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/gameliftstreams/2018-05-10/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/gameliftstreams/2018-05-10/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/gameliftstreams/2018-05-10/waiters-2.json.php
vendor/aws/aws-sdk-php/src/data/geo-maps/2020-11-19/api-2.json.php
vendor/aws/aws-sdk-php/src/data/geo-maps/2020-11-19/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/geo-routes/2020-11-19/api-2.json.php
vendor/aws/aws-sdk-php/src/data/glue/2017-03-31/api-2.json.php
vendor/aws/aws-sdk-php/src/data/grandfathered-services.json.php
vendor/aws/aws-sdk-php/src/data/guardduty/2017-11-28/api-2.json.php
vendor/aws/aws-sdk-php/src/data/healthlake/2017-07-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/iam/2010-05-08/api-2.json.php
vendor/aws/aws-sdk-php/src/data/inspector2/2020-06-08/api-2.json.php
vendor/aws/aws-sdk-php/src/data/iot-managed-integrations/2025-03-03/api-2.json.php
vendor/aws/aws-sdk-php/src/data/iot-managed-integrations/2025-03-03/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/iot-managed-integrations/2025-03-03/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/iot/2015-05-28/api-2.json.php
vendor/aws/aws-sdk-php/src/data/iotfleetwise/2021-06-17/api-2.json.php
vendor/aws/aws-sdk-php/src/data/iotsitewise/2019-12-02/api-2.json.php
vendor/aws/aws-sdk-php/src/data/ivs-realtime/2020-07-14/api-2.json.php
vendor/aws/aws-sdk-php/src/data/lakeformation/2017-03-31/api-2.json.php
vendor/aws/aws-sdk-php/src/data/location/2020-11-19/api-2.json.php
vendor/aws/aws-sdk-php/src/data/logs/2014-03-28/api-2.json.php
vendor/aws/aws-sdk-php/src/data/mailmanager/2023-10-17/api-2.json.php
vendor/aws/aws-sdk-php/src/data/mailmanager/2023-10-17/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/manifest.json.php
vendor/aws/aws-sdk-php/src/data/mediaconvert/2017-08-29/api-2.json.php
vendor/aws/aws-sdk-php/src/data/medialive/2017-10-14/api-2.json.php
vendor/aws/aws-sdk-php/src/data/mediapackagev2/2022-12-25/api-2.json.php
vendor/aws/aws-sdk-php/src/data/mediatailor/2018-04-23/api-2.json.php
vendor/aws/aws-sdk-php/src/data/neptune-graph/2023-11-29/api-2.json.php
vendor/aws/aws-sdk-php/src/data/network-firewall/2020-11-12/api-2.json.php
vendor/aws/aws-sdk-php/src/data/network-firewall/2020-11-12/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/networkflowmonitor/2023-04-19/api-2.json.php
vendor/aws/aws-sdk-php/src/data/oam/2022-06-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/opensearchserverless/2021-11-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/opensearchserverless/2021-11-01/smoke.json.php
vendor/aws/aws-sdk-php/src/data/opensearchserverless/2021-11-01/waiters-2.json.php
vendor/aws/aws-sdk-php/src/data/partitions.json.php
vendor/aws/aws-sdk-php/src/data/pca-connector-ad/2018-05-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/pca-connector-ad/2018-05-10/endpoint-rule-set-1.json.php
vendor/aws/aws-sdk-php/src/data/pi/2018-02-27/api-2.json.php
vendor/aws/aws-sdk-php/src/data/polly/2016-06-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/pricing/2017-10-15/api-2.json.php
vendor/aws/aws-sdk-php/src/data/qbusiness/2023-11-27/api-2.json.php
vendor/aws/aws-sdk-php/src/data/qbusiness/2023-11-27/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/rds-data/2018-08-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/redshift-data/2019-12-20/api-2.json.php
vendor/aws/aws-sdk-php/src/data/redshift-serverless/2021-04-21/api-2.json.php
vendor/aws/aws-sdk-php/src/data/redshift-serverless/2021-04-21/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/route53/2013-04-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/rum/2018-05-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/s3/2006-03-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/s3control/2018-08-20/api-2.json.php
vendor/aws/aws-sdk-php/src/data/s3tables/2018-05-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/sagemaker/2017-07-24/api-2.json.php
vendor/aws/aws-sdk-php/src/data/securityhub/2018-10-26/api-2.json.php
vendor/aws/aws-sdk-php/src/data/sesv2/2019-09-27/api-2.json.php
vendor/aws/aws-sdk-php/src/data/sso-oidc/2019-06-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/storagegateway/2013-06-30/api-2.json.php
vendor/aws/aws-sdk-php/src/data/taxsettings/2018-05-10/api-2.json.php
vendor/aws/aws-sdk-php/src/data/timestream-influxdb/2023-01-27/api-2.json.php
vendor/aws/aws-sdk-php/src/data/timestream-influxdb/2023-01-27/paginators-1.json.php
vendor/aws/aws-sdk-php/src/data/transcribe/2017-10-26/api-2.json.php
vendor/aws/aws-sdk-php/src/data/transfer/2018-11-05/api-2.json.php
vendor/aws/aws-sdk-php/src/data/verifiedpermissions/2021-12-01/api-2.json.php
vendor/aws/aws-sdk-php/src/data/wafv2/2019-07-29/api-2.json.php
vendor/aws/aws-sdk-php/src/data/workspaces-thin-client/2023-08-22/api-2.json.php
vendor/aws/aws-sdk-php/src/data/workspaces-web/2020-07-08/api-2.json.php
vendor/aws/aws-sdk-php/src/data/workspaces/2015-04-08/api-2.json.php
vendor/aws/aws-sdk-php/src/Deadline/DeadlineClient.php
vendor/aws/aws-sdk-php/src/DSQL/AuthTokenGenerator.php
vendor/aws/aws-sdk-php/src/ElasticLoadBalancingV2/ElasticLoadBalancingV2Client.php
vendor/aws/aws-sdk-php/src/EndpointV2/EndpointProviderV2.php
vendor/aws/aws-sdk-php/src/EndpointV2/EndpointV2Middleware.php
vendor/aws/aws-sdk-php/src/functions.php
vendor/aws/aws-sdk-php/src/GameLiftStreams/Exception/GameLiftStreamsException.php
vendor/aws/aws-sdk-php/src/GameLiftStreams/GameLiftStreamsClient.php
vendor/aws/aws-sdk-php/src/Handler/Guzzle/GuzzleHandler.php
vendor/aws/aws-sdk-php/src/Handler/GuzzleV6/GuzzleHandler.php
vendor/aws/aws-sdk-php/src/HandlerList.php
vendor/aws/aws-sdk-php/src/IoTManagedIntegrations/Exception/IoTManagedIntegrationsException.php
vendor/aws/aws-sdk-php/src/IoTManagedIntegrations/IoTManagedIntegrationsClient.php
vendor/aws/aws-sdk-php/src/MailManager/MailManagerClient.php
vendor/aws/aws-sdk-php/src/MediaConvert/MediaConvertClient.php
vendor/aws/aws-sdk-php/src/MediaPackageV2/MediaPackageV2Client.php
vendor/aws/aws-sdk-php/src/MetricsBuilder.php
vendor/aws/aws-sdk-php/src/Middleware.php
vendor/aws/aws-sdk-php/src/Multipart/AbstractUploader.php
vendor/aws/aws-sdk-php/src/Multipart/AbstractUploadManager.php
vendor/aws/aws-sdk-php/src/Multipart/UploadState.php
vendor/aws/aws-sdk-php/src/NetworkFirewall/NetworkFirewallClient.php
vendor/aws/aws-sdk-php/src/QBusiness/QBusinessClient.php
vendor/aws/aws-sdk-php/src/Rds/AuthTokenGenerator.php
vendor/aws/aws-sdk-php/src/RedshiftServerless/RedshiftServerlessClient.php
vendor/aws/aws-sdk-php/src/S3/ApplyChecksumMiddleware.php
vendor/aws/aws-sdk-php/src/S3/MultipartCopy.php
vendor/aws/aws-sdk-php/src/S3/MultipartUploader.php
vendor/aws/aws-sdk-php/src/S3/MultipartUploadingTrait.php
vendor/aws/aws-sdk-php/src/S3/Parser/S3Parser.php
vendor/aws/aws-sdk-php/src/S3/S3Client.php
vendor/aws/aws-sdk-php/src/S3/StreamWrapper.php
vendor/aws/aws-sdk-php/src/S3/Transfer.php
vendor/aws/aws-sdk-php/src/S3Control/S3ControlClient.php
vendor/aws/aws-sdk-php/src/SageMaker/SageMakerClient.php
vendor/aws/aws-sdk-php/src/Sdk.php
vendor/aws/aws-sdk-php/src/SesV2/SesV2Client.php
vendor/aws/aws-sdk-php/src/Signature/SignatureV4.php
vendor/aws/aws-sdk-php/src/StorageGateway/StorageGatewayClient.php
vendor/aws/aws-sdk-php/src/TimestreamInfluxDB/TimestreamInfluxDBClient.php
vendor/aws/aws-sdk-php/src/UserAgentMiddleware.php
vendor/aws/aws-sdk-php/src/Waiter.php
vendor/aws/aws-sdk-php/src/WorkSpaces/WorkSpacesClient.php
vendor/composer/autoload_files.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_static.php
vendor/composer/installed.json
vendor/composer/installed.php
